body {
    margin: 0;
}

/* nav */
nav {
    text-align: center;
    margin: 20px auto;
}
nav a {
    border-radius: 5px;
    border: 1px solid #000;
    display: inline-block;
    padding: 3px 5px;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}
nav a:hover {
    background-color: #02CB9E;
}
/* admin nav */
.admin-nav {
    background-color: #F59A25;
    margin: 0;
}
.admin-nav h1 {
    font-size: 45px;
    margin: 0;
}
/* homepage */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-quantity {
    width: 40px;
}
.homepage table {
    text-align: center;
}
/* signup */
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form form {
    text-align: center;
}
.signup-form input {
    margin-top: 5px;
}
/* register */
.registered h2 {
    text-align: center;
}
/* login */
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* admin products index */
.container {
    display: flex;
    justify-content:center;
}
.product-info {
    margin-right: 30px;
    margin-top: 200px;
}
.info table {
    text-align: center;
}
.info thead {
    border-bottom: 1px solid #000;
}
.info thead tr:first-child:hover {
    background-color: #fff;
}
.info tr:hover {
    background-color: #E4EDCC;
}
.info td {
    padding: 5px;
}
.page {
    margin-top: 20px;
    text-align: center;
}
.page a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px;
}
.page a:hover {
    color: #F59A25;
}
.modify {
    margin-top: 200px;
}
.increase {
    width: 200px;
    text-align: center;
}
.increase input {
    margin-top: 5px;
}
.delete-form {
    margin: 0;
}
.panel {
    text-align: center;
    margin: 30px auto 0;
    display: none;
    width: 200px;
}
.panel h2 {
    margin-bottom: 5px;
}
.panel input {
    margin-top: 5px;
}

